global
    log stdout format raw local0
    maxconn 1024

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend http_front
    bind *:80

    acl is_api path_beg /api/v1
    acl is_health path /health

    use_backend api_backend if is_api
    use_backend api_backend if is_health
    default_backend frontend_backend

backend api_backend
    option httpchk GET /health
    server app1 app:8080 check

backend frontend_backend
    server frontend1 frontend:3000 check
